@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

html {
    height: 100%;
}

body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    background: #f0f0f0 !important;
    margin: 0px 0px 0px;
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    font-family: 'Open Sans';
}

/* React-Bootstrap-Table Styles */
.table {
    font-size: 14px;
}
.sortable,
.table td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.table td {
    padding: 0.25rem 0.5rem !important;
}
.table-cell tr :hover {
    cursor: pointer;
    background: rgba(0, 123, 255, 0.25);
}
.react-bootstrap-table-editing-cell input {
    padding: 0.25rem;
    background: #fff !important;
    cursor: auto !important;
    height: calc(1em + 0.75rem + 2px);
}
.react-bootstrap-table-editing-cell div {
    margin-bottom: 0 !important;
    white-space: normal;
    padding: 0.25rem;
    background: #f8d7da !important;
}
.react-bootstrap-table-editing-cell div :hover {
    background: inherit !important;
}
.selection-cell {
    text-align: center;
    background: inherit !important;
}
.selection-cell-header {
    text-align: center;
}
.table th {
    padding: 0.5rem !important;
}
.sortable:nth-child(2) {
    width: 136px;
}
.sortable:nth-child(5) {
    width: 136px;
}
.editor {
    font-size: 14px !important;
    color: #212529 !important;
}
.table-date .edit-date {
    padding: 0 !important;
    font-size: 12px !important;
}

/* React Bootstrap Modal Styles */
.modal-content {
    position: static !important;
}
.modal-dialog {
    position: static !important;
}
.form-group .editor {
    font-size: 1rem !important;
}
