#transaction-table {
    font-size: 14px;
}

.transaction-table-header th,
.transaction-table-body td {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.transaction-table-header th {
    padding: 0.5rem !important;
}

.transaction-table-header th:nth-child(2) {
    width: 136px;
}

.transaction-table-header th:nth-child(5) {
    width: 136px;
}

.transaction-table-body td {
    padding: 0.25rem 0.5rem !important;
}

.transaction-table-body td:hover {
    cursor: pointer;
    background: rgba(0, 123, 255, 0.25);
}

.transaction-table-edit-cell .editor {
    padding: 0.25rem;
    height: 38px;
}

.transaction-table-edit-cell .alert {
    margin-bottom: 0 !important;
    white-space: normal;
    padding: 0.25rem;
}

.transaction-table-edit-cell input {
    font-size: 14px !important;
    color: #212529 !important;
}

.transaction-table-edit-cell-date input {
    padding: 0 !important;
    font-size: 12px !important;
}

.selection-cell {
    text-align: center;
    background: inherit !important;
    cursor: auto !important;
}

.selection-cell-header {
    text-align: center;
}

.search-label {
    width: 100%;
    margin-bottom: 20px;
}

.search-label input {
    height: 40px;
}

.category-modal {
    max-width: none !important;
    width: 600px !important;
}

.category-modal > div {
    display: flex;
    max-height: 700px;
    padding-bottom: 10px;
}

.modal-header .close {
    margin-left: 0 !important;
}
